#cwc_asset_mode a.active
{
	border-radius: 0 !important;
}


#cwc_asset_list
{
	overflow-y: scroll;
	max-height:200px;
}

#cwc_actor_list i
{
	cursor: pointer;
}

#cwc_actor_list
{
	font-size:0.8rem;
}

#cwc_asset_mode a
{
	transition: all 0.5s ease;
}