#cwc_attribute_list i
{
	cursor: pointer;
}

#cwc_attribute_list
{
	font-size:0.8rem;
}

#cwc_attribute_preset_list, #cwc_attribute_attachment_list
{
	height:300px;
	overflow-y: auto;
}



#cwc_attribute_moviegraph_list_container
{
	display:none;
}


.module[module='db/attribute'][meta='MG'] #cwc_attribute_moviegraph_list_container
{
	display:inline-block;
}

.module[module='db/attribute'][meta='MG'] #cwc_attribute_type_list_container
{
	/*display:none;*/
/*	transition: all 0.25s ease;
	z-index: 100;*/
}