.cwc_graph_svg_container
{
	padding-bottom: 100%;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#cwc_graph_svg_placeholder
{
	width:100%;
	padding-bottom: 100%;
	position: relative;	
}

.cwc_graph_svg_top
{
	height:100%;
	position: absolute;
	top:0;
	width:100%;
	left:0;
	z-index: 2;
}

.cwc_graph_svg_backdrop
{
	height:100%;
	position: absolute;
	top:0;
	width:100%;
	left:0;
	z-index: 1;
}

.cwc_graph_svg_backdrop line
{
	stroke: #eee;
}

div.module[module='db/graph'][meta='FREEFORM'] #cwc_graph_svg_toggle
{
	display:none;
}


.cwc_graph_svg_top circle[type='CHARACTERS']
{
	/*fill: lightgreen;*/
}

.cwc_graph_svg_top circle[type='PROPS']
{
	/*fill: pink;*/
}

.cwc_graph_svg_top circle[type='ACTION'], .cwc_graph_svg_top circle[type='POSITION']
{
	fill: transparent;
}

.cwc_graph_svg_top rect
{
	fill: #eee;
}

.cwc_graph_svg_top rect[active='1'], .cwc_graph_svg_top circle[active='1']
{
	fill: red !important;
}



.cwc_graph_svg_top circle
{
	fill: #eee;
}


.cwc_graph_svg_top circle:hover, .cwc_graph_svg_top circle.active
{
	/*fill: red;*/
}

.cwc_graph_svg_top circle
{
	cursor: pointer;
	r: 15;
}

.cwc_graph_svg_top line
{
	cursor: pointer
}

.cwc_graph_svg_top text.label
{
    transform: translateX(20px) translateY(0px);
    font-size:0.8rem;
	/*cursor: pointer;*/
	/*pointer-events: auto;*/
	alignment-baseline: middle;

}

.cwc_graph_svg_top text.icon
{
	font-size:1em;
	text-anchor: middle;
	alignment-baseline: middle;
}


.cwc_graph_svg_top text.attr
{
    transform: translateX(20px) translateY(9px);
    font-size:0.6rem;
	alignment-baseline: middle;
}


#cwc_graph_svg_elevation_container, #cwc_graph_svg_stage_container
{
	opacity:0;
}


.cwc_graph_svg_top *.active
{
	fill: red !important; 	
}

#cwc_graph_prompt
{
	position: fixed;
	bottom:0;
	width:100%;
	left:0;
	display:none;
	z-index: 1000;
}

.cwc_graph_svg_top polyline[direction='0']
{
	marker-mid: url(#D0);
}


.cwc_graph_svg_top polyline[direction='1']
{
	marker-mid: url(#D1);
}


.cwc_graph_svg_top polyline[type='3']
{
	stroke-dasharray: 4;
}



.cwc_graph_svg_top *[asset='Generic']
{	
	fill: lightyellow;
}