#cwc_interaction_list i
{
	cursor: pointer;
}

#cwc_interaction_list
{
	font-size:0.8rem;
}

#cwc_interaction_prompt
{
	position: fixed;
	bottom:0;
	width:100%;
	left:0;
	display:none;
	z-index: 1000;
}

#cwc_interaction_list tr {
    background-color: white;
}

#cwc_attribute_loading
{
	
}