<div class="row">

	<div class="col-6">

		<h1 id="header-title" class=''></h1>

	</div>
	<div class="col-6 text-right">

		<small class="text-muted m-0" style="line-height: 1;" id="last_saved">Last saved: <span></span></small>

	</div>

</div>
<h6 class='' id="header-author"></h6>
<small class="d-block mt-1" id="header-session"><span></span> <a id="header_startnew" href="#" class="text-danger">(Start New Session)</a></small>
<div class='row mt-3'>
	<div class='col-6 text-left' id='nav'></div>
	<div class='col-6 text-right'>
		<!-- <a class='btn btn-primary btn-sm mr-1' id="header-url"><i class='fa fa-pencil-alt'></i> Edit</a> -->
		<!--<button class='btn btn-danger btn-sm mr-0' id='clear_input'>Clear Input Data</button>-->
	</div>
</div>