.cwc_position_svg_container
{
	padding-bottom: 100%;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#cwc_position_svg_placeholder
{
	width:100%;
	padding-bottom: 100%;
	position: relative;	
}

.cwc_position_svg_top
{
	height:100%;
	position: absolute;
	top:0;
	width:100%;
	left:0;
	z-index: 2;
}

.cwc_position_svg_backdrop
{
	height:100%;
	position: absolute;
	top:0;
	width:100%;
	left:0;
	z-index: 1;
}

.cwc_position_svg_backdrop line
{
	stroke: #eee;
}



.cwc_position_svg_top circle[type='CHARACTERS']
{
	/*fill: lightgreen;*/
}

.cwc_position_svg_top circle[type='PROPS']
{
	/*fill: pink;*/
}

.cwc_position_svg_top circle
{
	fill: #eee;
}


.cwc_position_svg_top circle:hover, .cwc_position_svg_top circle.active
{
	fill: red;
}

.cwc_position_svg_top circle
{
	cursor: pointer;
	r: 15;
}

.cwc_position_svg_top text.label
{
    transform: translateX(20px) translateY(0px);
    font-size:0.8rem;
	/*cursor: pointer;*/
	/*pointer-events: auto;*/
	alignment-baseline: middle;

}

.cwc_position_svg_top text.icon
{
	font-size:1em;
	text-anchor: middle;
	alignment-baseline: middle;
}


.cwc_position_svg_top text.attr
{
    transform: translateX(20px) translateY(9px);
    font-size:0.6rem;
	alignment-baseline: middle;
}


#cwc_position_svg_elevation_container
{
	opacity:0;
}