#cwc_relationship_list i
{
	cursor: pointer;
}

#cwc_relationship_list
{
	font-size:0.8rem;
}

#cwc_relationship_card
{
	max-height: 200px;
	overflow-y:auto;
		
}

#cwc_relationship_prompt
{
	position: fixed;
	bottom:0;
	width:100%;
	left:0;
	display:none;
	z-index: 1000;
}

#cwc_relationship_list tr {
    background-color: white;
}

#cwc_relationship_card tr th:nth-child(2), #cwc_relationship_list tr td:nth-child(2)
{
	display:none !important;
}


#cwc_attribute_loading
{
	
}